<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8" />
<title>AmazingBoy Gallery</title>
<link rel="shortcut icon" href="/static/picture/icon.png">
<link rel="stylesheet" type="text/css" href="/static/css/global.css" />
<link rel="stylesheet" type="text/css" href="/static/css/index.css" />
</head>

<body>
<header>
<div class="row trisection"></div>
<div class="row trisection">
    <div class="title">
        <a href="/">
        <h1>摄&nbsp&nbsp影&nbsp&nbsp师&nbsp&nbsp山&nbsp&nbsp河</h1>
        <h2>自然风景、城市风景 、生活摄影</h2>
    </div>
</div>
<div class="row trisection"></div>
</header>

<nav>
<div class="row">
    
    <div class="col-12">
        <div class="row">
            <div class="col-4">
                <div class="card">
                <a href="/gallery">
                <div class="card-description">
                    <div class="content">
                        <h1>画 廊 欣 赏</h1>
                        <hr />
                        <p>个人摄影作品集欣赏，用光与影勾勒地球之美！</p>
                        <small>更新日期:2022/9/2</small>
                    </div>
                </div>
                <img src="/static/picture/card-1.jpg" />
                </a>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                <a href="/equipment">
                <div class="card-description">
                    <div class="content">
                        <h1>装 备 清 单</h1>
                        <hr />
                        <p>详尽的摄影器材盘点，此外还包括使用到的后期软件！</p>
                        <small>更新日期:2022/9/2</small>
                    </div>
                </div>
                <img src="/static/picture/card-2.jpg" />
                </a>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                <a href="/equipment">
                <div class="card-description">
                    <div class="content">
                        <h1>摄 影 研 学</h1>
                        <hr />
                        <p>分享、交流摄影经验与心得，不断记录反思提升摄影水平！</p>
                        <small>更新日期:2022/9/2</small>
                    </div>
                </div>
                <img src="/static/picture/card-3.jpg" />
                </a>
                </div>
            </div>
            </div>
        </div>
    </div>

</div>
</nav>

{{ template "footer" }}

</body>
</html>