* {
    box-sizing: border-box;
}

a:link {text-decoration:none}

.row:after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    /* border: 1px solid red; */
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.trisection {height: 33.33%}

body {
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgba(247, 247, 247, 1);
}

footer {
    height: 150px;
    display: block;
    margin: auto;
    background-color: #2b2b2b;
}

footer img {
    position: relative;
    top: 4px;
}

footer p {
    color: #888;
    text-align: center;
}

footer .center {
    width: 40%;
    margin: 0 auto;
    position: relative;
    top: 50%;
}

header {
    width: 1440px;
    height: 200px;
    background-image: url(/static/picture/bg-nav.jpg);
    background-size: 100% 100%;
    margin: 0 auto 50px auto;
}

header ul {
    list-style-type: none;
    width: 35%;
    margin: 20px auto;
}

header li {
    float: left;
    text-align: center;
    margin: 0 auto;
}

header li a {
    display: block;
    text-align: center;
    padding: 80px 30px;
    color: white;
    font-size: 1.5em;
}

header li:hover a {
    color: #F66B0E;
    text-decoration: underline;
}

